.biz-intro {
    position: relative;
    display: flex;
    bottom: 257px;
    padding-left: 100px;
    padding-top: 65px;
    display: flex;
    justify-content: space-between;
    padding-right: 100px;    
}

.biz-info-text {
    // width: 700px;
    color: white;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;;
}

.biz-info-text {
    min-width: 600px;
    margin-left: 50px;
    
}

.main-content-business-show-page {
    display: flex;
    // justify-items: center;
    // width: 1000px;
    height: 2000px;
    // padding-left: auto;
    // padding-right: auto;
    justify-content: center;
}

.left-column {
    /* width: 100%; */
    min-width: 1000px;
    width: 1000px;

}

.right-column {
    width: 600px;

}
.categories {
    position: relative;
    // right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    // left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}

//hello

.categories p {
    color: white;
}

.review-number {
    // position: relative;
    // top: 21px;
    // margin-left: -130px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 11px;
    padding-left: 20px;
}

.biz-below-photo-container {
    height: 97px;
    border-bottom: 1px solid lightgrey;
    position: relative;
    height: 97px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: flex-start;
    padding-left: 150px;
}
.biz-add-photo-bttn {
    transition:all .8s ease-in;
    background-color: transparent;
    border: 1px solid rgba(200,201,202,1);
    color: rgba(45,46,47,1);
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    height: 40px;
    width: 180px;
    outline: none;
    margin-top: 26px;
    padding-bottom: 6px;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
}

.biz-add-photo-bttn:hover {
    background-color: grayscale($color: #7272725a);
}
.biz-review-bttn {
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    font-size: 16px;
    font-weight: normal;
    color: white;
    border: none;
    border-radius: 4px;
    height: 40px;
    background-color: #F43939;
    width: 180px;
    outline: none;
    margin-top: 26px;
    padding-bottom: 6px;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
}

.business-menu-container {
    margin-left: 141px;
    margin-right: 141px;
}

.business-menu-content h3, .covid-title, .location-hours-text, .recommend-reviews {
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    color: rgba(43,39,60,1);
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: inline;
}

.updated-service {
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    color: rgba(43,39,60,1);
    font-size: 18px;
    padding-top: 10px;

}
.business-menu-content, .business-page-covid-update, .location-and-hours-container, .reviews-container {
    padding-top: 40px;
    padding-bottom: 30px;
}

.business-page-covid-update, .location-and-hours-container, .reviews-container {
    border-bottom: 1px solid lightgrey;
    margin-left: 141px;
    margin-right: 141px;
}

.address-content {
    display: flex;
    justify-content: space-between;
}

.business-hour {
    padding-left: 120px;
    
}

.each-hour {
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: rgba(45,46,47,1);
}

// .biz-info-text h3 {
//     font-size: 18px;
//     font-family: Helvetica,Arial,sans-serif;
//     color: #ffffff;
//     margin-left: 141px;
//     margin-bottom: 10px;
// }
.biz-info-text h3 {
    font-size: 48px;
    // font-weight: 1500;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.rating-star {
    // margin-left: 141px;
    // margin-top: -15px;
    padding-top: 10px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

#inv-star{
    display: none;
}

.str{
    color: #F43939;
}



// .sticky-column-container {
//     height: 100%;
// }

// .sticky-content {
//     background-color: blue;
// }

.sticky-content {
    height: 10vh;
    position: sticky;
    top: 20px;
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    // width: 80%;
    // margin: auto;
}

.sticky-info {
    position: relativesticky-content
}

.sticky-info ul {
    padding-right: 15px;
    position: absolute;
    // background-color: blue;
    margin-top: 10px;
    width: 365px;
    height: 256px;
    display: flex;
    justify-content: space-around;
    // align-items: center;
    flex-direction: column;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(132, 139, 147);
    font-weight: bolder;
    border-radius: 5px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    line-height: 22px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 6px;
}

.sticky-info li {
    width: 97%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 18px;
}
.sticky-info a {
    color: rgba(43,39,60,1);
    text-decoration: none;
    text-align: left;
    width: 100%;

}
.sticky-info li:first-child {
    font-weight: bold;
}
#biz-web {
    color: rgba(2,122,151,1);
}


.business-show-result-bools {
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.fa-times {
    color: rgb(53, 53, 53);
}

.fa-check {
    color: rgb(32, 193, 32);
}

.business-show-result-boolean{
    padding-right: 5px;
}

.see-photo-bttn {
    background-color: inherit;
    cursor: pointer;
    transition:all .8s ease-in-out;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    border: 1px solid rgba(200,201,202,1);
    color: rgba(255,255,255,1);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.see-photo-bttn:hover {
    background: rgba(255, 255, 255, 0.29);
}

.business-location {
    width: 300px;
}

// .biz-info :first-child{
//     font-size: 48px;
//     font-weight: lighter;
//     font-family: 'Montserrat', sans-serif;
//     color: #ffffff;
// }

// .head-img-photo {
//     height: 100%;
//     width: 100%;
//     min-width: 400px;
//     opacity: 0.8;
//     object-fit: cover;
// }

// .left-column {
//     position: absolute;
//     display: flex;
//     // background-color: red;
//     // width: 500px;
//     min-width: 400px;
//     flex-direction: column;
//     min-height: 2000px;


// }

// .right-column {
//     display: flex;
//     position: fixed;
//     // background-color: rosybrown;
//     max-height: 300px;
//     width: 300px;
//     position: sticky;
//     top: 0;

// }
