.preview-photo-container {
    display: flex;
    justify-content: center;

}

.preview-photo {
    display: flex;
    justify-content: center;
}
.preview-image {
    max-width: 100%;
    height: 413px;
}

.photo-box {
    border: rgb(189, 189, 189) dashed 2px;
    border-radius: 4px;
    height: 450px;
    width: 631px;
}



// .upload-icon:focus + .upload-photo-text, .upload-icon + .upload-photo-text:hover {
//     background-color: red;
// }