.footer-container {

}

.footer-content {
   height: 537px;
   background-color: #F4F4F4;
   border-top: lightgrey 1px solid; 
   width: 100%;
    justify-content: center;
}

.footer-section {
    margin: 90px 50px 10px 50px;
    min-width: 150px;
    display: flex;
    justify-content: center;

}

.footer-title {
    font: bold 21px Arial, Helvetica, "Helvetica Neue";
    color: #d32323;
    text-align: center;
    margin: 10px 50px 10px 50px;
    min-width: 150px;

}

.about-links {
    text-align: center;
    margin: 10px;

}

.sub-link a{
    font: 14px Arial, Helvetica, "Helvetica Neue";
    text-decoration: none;    
    color: #0073BB
}
.sub-link a:hover{
    text-decoration: underline;
}

.sub-link:visited{
    text-decoration: none;
    color: #0073BB
}

.sub-link {
    margin: 10px;
}